/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

.filterPanel {
	background-color: #eaeaea;
}
.newUserButton {
	color: blue;
}
.mainPanel, .userName {
	background-color: #f2f2f2;
	box-shadow: 0 8px 6px -6px black;
}
.hPanel1, .hPanel2 {
	width: 100%;
}
.basketPanel {
		background-color: #E2E1E1;
}
.newGuitarInBusket {
	border: 1px solid black;
}
.guitarList, .userTable {
	width:100%;
	text-align: center;
	border: 1px solid black;
}
.guitarListHeader {
	background-color: #E2E1E1;
}
.userPagePanel {
	width: 30%;
	height: 300px;
	background-color: #f2f2f2;
    border-style: groove;
    box-shadow: 10px 10px 5px grey;
    margin-left: auto;
    margin-right: auto;
}
.userPageLabel {
	text-align: center;
  	text-transform: uppercase;
  	color: black;
}
.userPageText {
	text-indent: 50px;
  	text-align: center;
  	letter-spacing: 3px;
}
.userPageHPanel {
	margin-left: auto;
    margin-right: auto;
}
/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}
.dialogBox {
	width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.userPage {
	margin: 5px;
	width: 30%
	height: 30%;
}
.serverResponseLabelError {
  color: red;
}
.errorRegLabel {
  color: red;
}

.newGuitarInBusket {
	border-top: 1px solid black;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
.loginPage {
	background-color: #f2f2f2;
}

.loginPanel {
	background-color: #f2f2f2;
    border-style: groove;
    box-shadow: 10px 10px 5px grey;
    margin-left: auto;
    margin-right: auto;
}
.regPanel{
	background-color: #f2f2f2;
    border-style: groove;
    box-shadow: 10px 10px 5px grey;
    margin-left: auto;
    margin-right: auto;
}
.errorLabel {
	color: red;
}